doctype html
html

  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="/style.css")

    //- @see https://github.com/Automattic/socket.io-client
    script(src="/socket.io/socket.io.js")

    script.
      const socket = io();

      function showStatus(status, message) {
        document.querySelector('[data-status]').innerHTML = message || status;
        document.querySelector('[data-status]').setAttribute('data-status', status);
      }

      socket
        .on('error', function(message) {
          console.error(message);
          showStatus('error', message);
        });

      'connect disconnect reconnect reconnecting reconnect_failed'.split(' ').forEach(function(event) {
        socket.on(event, function() {
          showStatus(event);
        })
      });

      socket.on('logout', function(data) {
        socket.disconnect();
        alert("You logged out");
        window.location.reload();
      })
      socket.on('news', function(data) {
        console.log(data);
        socket.emit('my other event', {my: 'data'});
      });

  body
    .container

      form(method="POST" action="/logout" onsubmit="socket.disconnect()")
        button logout

      h1
        | Chat
        .label(data-status)

